.appear-enter {
    -webkit-transition: .7s opacity ease-out;
       -moz-transition: .7s opacity ease-out;
        -ms-transition: .7s opacity ease-out;
         -o-transition: .7s opacity ease-out;
            transition: .7s opacity ease-out;
    opacity: 0;
}

.appear-enter.appear-enter-active {
    opacity: 1;
}

.appear-leave {
    opacity: 0;
}
